

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    text-transform: capitalize;
}

body {
    background: #333;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}
.content p {
    width: 900px;
    line-height: 26px;
    font-size: 18px;
    text-align: justify;
    margin-top: 10px;
}
.cursor {
    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid white;
    left: 0;
    top: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: .1s;
}
.cursor2 {
    position: fixed;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: white;
    left: 0;
    top: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: .15s;
}